
<form action="/submit" method="POST">
    <label for="fname">First name:</label><br><br>
    <input type="text" id="fname" name="fname"><br><br>
    <label for="lname">Last name:</label><br><br>
    <input type="text" id="lname" name="lname"><br><br>

    <label for="pets">Choose your pet:</label>
    <select name="pets" id="pets">
        <option value="bird">Bird</option>
        <option value="puppy">Puppy</option>
        <option value="kitten">kitten</option>
        <option value="rabbit">Rabbit</option>
    </select>    

</form>